body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f4f4f4, #e8f0ff);
    animation: fadeIn 1s ease-in;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    animation: slideUp 1s forwards;
}

h1, h2 {
    color: #333;
    text-align: center;
}

h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
}

.title {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}
.contact {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.contact a {
    color: #007BFF;
    text-decoration: none;
}

.contact a:hover {
    color: #0056b3;
    font-weight: bold;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-container span {
    background: #007BFF;
    color: white;
    padding: 8px 12px;
    margin: 3px;
    border-radius: 5px;
    font-size: 14px;
    transition: transform 0.3s ease, background 0.3s ease;
    cursor: pointer;
}

.skills-container span:hover {
    transform: scale(1.1);
    background: #0056b3;
}

.languages {
    text-align: center;
    list-style: none;
    padding: 0;
}

.languages li {
    font-size: 16px;
    padding: 5px;
}

/* Анимации */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(45deg, #007BFF, #00D4FF);
    color: white;
    border: none;
    padding: 12px;
    font-size: 22px;
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* По умолчанию скрыта */
    transition: all 0.3s ease-in-out;
}

.scroll-top i {
    font-size: 20px;
}

.scroll-top:hover {
    background: linear-gradient(45deg, #0056b3, #0096FF);
    transform: scale(1.15);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.scroll-top.show {
    display: block;
    opacity: 1;
}
